.jumbotron {
    height: 100vh;
}

.jumbotron img {
    width: 200px;
    height: auto;
    border: 5px solid gray;
}
.jumbotron hr {
    width: 40%;
    border: 1px solid gray;
    opacity: 0.2;
}

.about hr {
    width: 30%;
    border: 1px solid gray;
    opacity: 0.7;
}

section.about{
    height: 100vh;
}

.portfolio {
    background-color: #eee;
    
}

.portfolio hr {
    width: 30%;
    border: 1px solid gray;
    opacity: 0.7;
}

.portfolio .thumb {          
    transition:  transform .5s; 
        
}

.portfolio .thumb:hover {
    transform: scale(1.1);
    transition: transform .5s;
    object-fit: cover;
}